.account-menu-container{
    display: flex;
}

.account-menu-link{
    text-decoration: none;
    color: inherit;
    width: 50%;
    text-align: center;
    border-bottom: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 0.5rem 0;
    transition: background-color 0.3s ease-in-out;
}

.account-menu-link:hover{
    color: inherit;
    background-color: #f1ebd4;
}

.active{
    background-color: #ff9400!important;
    color: white!important;
    font-weight: 500;
}

#change-email{
    display: none;
}

.orders-information-container{
    border: 2px solid lightgray;
    border-radius: 20px;
    margin: 1rem auto;
    display: flex;
    max-width: 90%;
}

.orders-information{
    width: 100%;
}

.orders-information td, .orders-information th{
    text-align: center;
    padding: 0.8rem 0.5rem;
    font-size: 19px;
}

.quantity-info{
    font-size: 15px;
}

.dishes-list p{
    margin-bottom: 0;
}

.orders-information td{
    max-width: 25%;
}