#reg-btn, #login-btn, #change-btn, .add-btn{
    color: white;
    border-radius: 15px!important;
    background-color: #e84500!important;
    border: 2px solid #e84500!important;
    width: 100%;
    padding: 10px 0;
    margin-top: 40px;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, font-weight 0.2s ease-in-out;
}

#reg-btn:hover, #login-btn:hover, #cart-quantity:hover, #change-btn:hover, .add-btn:hover{
    background-color: whitesmoke!important;
    color: #FF6400!important;
    font-weight: 500;
}

.login-text, #reg-btn, #login-btn{
    font-size: 19px;
}

.btn-view-cat{
    background-color: #FEFEDF;
    margin: 20px 0;
    color: #FF6400;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #ff7b26;
    font-size: 20px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.category-view-btn {
    width: 100%;
    display: flex;
    align-content: stretch;
    justify-content: center;
}

.btn-view-cat:hover{
    background-color: #ff7b26;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
}

.pizza-of-four-button{
    color: white;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 1rem 3rem;
    background-color: #ff7b26;
    font-weight: 450;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pizza-of-four-button:hover{
    background-color: #fff;
    color: #000;
}

.cart-btn{
    color: #fff!important;
    border-radius: 15px!important;
    background-color: #ff7b26!important;
    margin-right: -45px;
    margin-bottom: 15px;
    padding: 5px 25px!important;
    font-size: 18px!important;
    transition: background-color 0.3s ease-in-out;
}

.cart-btn:hover{
    color: #fff!important;
    background-color: #ff4500!important;
}

.cart-btn-pizza{
    color: #fff!important;
    border-radius: 15px!important;
    background-color: #ff7b26!important;
    margin-bottom: 15px;
    padding: 0.4rem 3.5rem!important;
    font-size: 22px!important;
    transition: background-color 0.3s ease-in-out;
}

.cart-btn-pizza:hover{
    color: #fff!important;
    background-color: #ff4500!important;
}

#change-btn{
    font-size: 19px!important;
}

#back-to-top-btn{
    display: inline-block;
    background-color: #ff7b26;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 7px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#back-to-top-btn::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#back-to-top-btn:hover{
    cursor: pointer;
    background-color: #333;
}

#back-to-top-btn:active{
    background-color: #555;
}

#back-to-top-btn.show{
    opacity: 1;
    visibility: visible;
}

.filter-button{
    background-color: #fff7df;
    border: thin solid #ff7b26;
    border-radius: 4px;
    padding: 0.2rem 0.4rem;
}

.filter-button:hover{
    background-color: #ffe7be;
}

.edit-btn, .delete-btn, .hide-btn {
    padding: 0.5rem 0;
    width: 18rem;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0.5rem;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.edit-btn{
    background-color: #24A845;
    border: 1px solid #24A845;
}

.edit-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.55) 0 5px 15px;
}

.delete-btn{
    background-color: #ff2f2f;
    border: 1px solid #ff2f2f;
}

.delete-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.55) 0 5px 15px;
}

.hide-btn{
    background-color: #e4e420;
    border: 1px solid #e4e420;
    color: #000;
}

.hide-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.55) 0 5px 15px;
}

.add-btn{
    width: 20rem;
    margin: 3rem auto;
}

.users-table .delete-btn{
    width: 9rem;
    font-size: 1rem;
    margin: 0.2rem 0;
}

.users-table .delete-btn:hover{
    background-color: #b33636;
    box-shadow: none;
}