#cart-quantity{
    color: #fff;
    display: none;
    text-align: center;
    border-radius: 10px;
    background-color: #ff7b26;
    padding: 5px 15px!important;
    border: 2px solid #ff7b26;
    font-weight: 500;
    margin-bottom: 0;
}

.empty-cart-text{
    margin-top: 4em;
    font-size: 17px;
}

.cart-overall-container{
    border: 2px solid lightgray;
    border-radius: 20px;
    margin: 1rem auto;
    display: flex;
    max-width: 750px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.cart-overall{
    width: 100%;
}

.cart-overall td{
    max-width: 200px;
    padding: 1rem 1rem;
}

.remove-from-cart{
    border: none;
    background-color: inherit;
}

.totalPrice{
    text-align: center;
    font-size: 20px;
}

.order-btn{
    color: white;
    background-color: #ff4c00;
    border: 2px solid #ff4c00;
    border-radius: 15px;
    padding: 10px 0;
    width: 300px;
    font-size: 22px;
}

.order-btn:hover{
    background-color: inherit;
    color: #FF6400;
    font-weight: 500;
}

.remove-img{
    width: 30px;
    height: auto;
}

.quantity-input{
    border: none;
    text-align: center;
    max-width: 4rem;
    padding: .5rem;
}

.quantity-input:focus{
    outline: none;
}

.quantity-btn{
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    max-width: 1rem;
}

.quantity{
    background-color: white;
    display: inline-flex;
    padding: .5rem 1rem;
    border-radius: 20px;
    border: 2px solid lightgray;
}

.quantity-cell{
    text-align: end;
}

.img-cell{
    min-width: 100px;
}

.price{
    line-height: 70%;
    font-size: 18px;
    font-weight: 500;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}