.form-container{
    margin-top: 5%;
}

.textbar:hover{
    border: 2px solid #ff7b26!important;
    background-color: white;
}

.textbar:focus{
    background-color: white!important;
    outline: 2px solid #ff7b26!important;
}

.textbar::placeholder{
    color: rgba(0,0,0,.25);
}

.textbar{
    border-radius: 15px;
    border: 2px solid #bfbebe;
    background-color: #e4dfdf;
    width: 250px;
    height: 40px;
    color: rgba(0,0,0,.55)!important;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    transition-duration: 0.5s;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.login-form, .login-title{
    display: flex;
    justify-content: center;
}

.form-item{
    text-align: center;
    justify-content: center;
    font-weight: 500;
    padding-right: 30px;
    max-width: 280px;
}

.login-form{
    margin-top: 10px;
}

.input{
    display: inline-grid;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 17px;
}

.select-payment, .select-pizza, .select-category{
    outline: none;
    appearance: none;
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 20px) calc(1em),
            calc(100% - 15px) calc(1em),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

.select-payment:focus, .select-pizza:focus, .select-category:focus{
    background-image:
            linear-gradient(130deg, transparent 50%, gray 50%),
            linear-gradient(55deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
    outline: none;
}

.comment, .description{
    border-radius: 15px;
    border: 2px solid #bfbebe;
    background-color: #e4dfdf;
    color: rgba(0,0,0,.55)!important;
    padding: 10px 5px;
    font-size: 17px;
    font-weight: 500;
    transition-duration: 0.5s;
}

.comment:hover, .description:hover{
    border: 2px solid #ff7b26!important;
    background-color: white;
}

.comment:focus, .description:focus{
    background-color: white!important;
    outline: 2px solid #ff7b26!important;
}

.image-file{
    font-size: 13px;
    padding-left: 0.7rem;
    padding-top: 0.3rem;
}